{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - message: The completion message.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}

{% set currency_code = order_entity.total_paid.0.currency_code ?? 'Not Available'|t %}

<div class="checkout-complete container">
  <div class="row">
    {{- message -}}

    <h4>{{ 'Order details'|t }}</h4>
    <table>
      <tbody>
        <tr>
            <td><strong>{{ 'Reference'|t }}:</strong></td>
            <td>{{order_entity.id}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Payment Status'|t }}:</strong></td>
            <td>
            {{ payment_status == 'authorization' ? 'Pending'|t : ''}}
            {{ payment_status == 'completed' ? 'Approved'|t : ''}}
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'Items'|t }}:</strong></td>
            <td>
              {% for order_item in order_entity.getItems %}
                <div>
                  {{ order_item.getQuantity|number_format }}&nbsp;x&nbsp;
                  {{- order_item.label -}}
                </div>
              {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'Completed at'|t }}:</strong></td>
            <td>{{order_entity.getCompletedTime|date('d/m/Y H:m')}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Total price'|t }}:</strong></td>
            <td>{{order_entity.getTotalPrice|commerce_price_format}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Total paid'|t }}:</strong></td>
            <td>{{order_entity.getTotalPaid|commerce_price_format}}</td>
        </tr>
      </tbody>
    </table>
  
    <a href="/user/{{ order_entity.getCustomerId }}/orders">{{ 'See Orders Information'|t }}</a>

    {% if payment_instructions %}
      <div class="checkout-complete__payment-instructions">
        <h2>{{ 'Payment instructions'|t }}</h2>
        {{ payment_instructions }}
      </div>
    {% endif %}
  </div>
</div>
