{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="customer-information">
    <div class="field field--label-inline">
      <div class="field--label">{{ 'Reference'|t }}</div>
      <div class="field--item">{{ order_entity.id }}</div>
    </div>
    {{ order.mail }}
  </div>
  <div class="order-information">
    {{ order.completed }}
    {{ order.placed }}
    {{ order.state }}
    <div class="field field--label-inline">
      <div class="field--label">{{ 'Payment Status'|t }}</div>
      <div class="field--item">{{ payment_status ? payment_status|t : 'No payment'|t }}</div>
    </div>
    <br/>
    {{ order.order_items }}
    {{ order.total_price }}
    {{ additional_order_fields }}
    {% if payment_status %}
      <button title="Print receipt" class="print-page button btn-default primary">{{'Print receipt'|t}}</button>
    {% endif %}
  </div>
</div>
{{ attach_library('commerce_placetopay/print_receipt') }}
