{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - response_status: The response status.
 *
 * @ingroup themeable
 */
#}

{% set currency_code = order_entity.total_paid.0.currency_code ?? 'Not Available'|t %}

<div class="checkout-complete container {{response_status|lower == 'rejected' ? 'error' : 'warning'}}">
  <div class="row">
    <h4>{{ 'Order details'|t }}</h4>
    <table>
      <tbody>
        <tr>
            <td><strong>{{ 'Reference'|t }}:</strong></td>
            <td>{{order_entity.id}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Payment Status'|t }}:</strong></td>
            <td>{{ response_status|t }}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Items'|t }}:</strong></td>
            <td>
              {% for order_item in order_entity.getItems %}
                <div>
                  {{ order_item.getQuantity|number_format }}&nbsp;x&nbsp;
                  {{- order_item.label -}}
                </div>
              {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>{{ 'Placed at'|t }}:</strong></td>
            <td>{{order_entity.getPlacedTime|date('d/m/Y H:m')}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Total price'|t }}:</strong></td>
            <td>{{order_entity.getTotalPrice|commerce_price_format}}</td>
        </tr>
        <tr>
            <td><strong>{{ 'Total paid'|t }}:</strong></td>
            <td>{{order_entity.getTotalPaid|commerce_price_format}}</td>
        </tr>
      </tbody>
    </table>

    <a href="/checkout/{{ order_entity.id() }}/order_information">{{ 'Go to checkout'|t }}</a>
  </div>
</div>
